.containter {
}

.setting-container {
  height: 20vh;
  display: flex;
  justify-content: space-between;
}

.map-view {
  background-color: rgb(73, 73, 73);
  min-height: 80vh;
  display: flex;
  padding-top: 10;
  justify-content: center;
}
.block {
  transition: transform 0.1s;
  cursor: pointer;
}
.block:hover {
  transform: scale(1.7);
}

.block.start {
  background-color: yellow !important;
}

.block.end {
  background-color: tomato !important;
}

.block.wall {
  background-color: #826338 !important;
}
.block.checked {
  background-color: rgb(113, 119, 204) !important;
}
.block.path {
  background-color: rgb(67, 231, 89) !important;
}
